html, body {
  height: 100%;
  width: 100%;
}

.header {
  background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/170706112840-germany.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 400px;
  margin: 0px -10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

body {
  background-image: linear-gradient(120deg, #5eb7eb 0%, #5c71e8    100%);
  height: 200%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-button {
  background-color: #e3e6f4;
}

.roll-button {
  display: square;
  width: 100%;
  border:.3rem solid;
  border-color: #e3e6f4 ;
  background-color: #e3e6f4;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}


.results-text {
  color: white;
  font-size: 25px; 
}

div.results {
  color: white;
  font-size: 25px; 

}

.results-img {
  max-width:100%;
  /* height:auto; */
  object-fit: contain;
  border: none;
  
}


.h1title{
  font-size: 50px; 
  color: #000000;
  background-color: #e3e6f4;
  position: absolute;
  top: 1em;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}

.intro{
  font-size: 25px;
  text-align: center;
  color: white
}

.foot{
  text-align: center;
  position:fixed;
  left:0px;
  bottom:0px;
  height:75px;
  width:100%;
  background:#69a7d3;
  border:.3rem solid;
  border-color: #000e0f ;
}


